<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>com.apple.quicktime-movie</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to record chess games and detect chess positions.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone to record audio with your chess games.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to save recorded chess games.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs photo library access to save recorded chess games.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>159.203.102.249</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
